# 監視対象外
/*
/.*
.*/
Thumbs.db
.DS_Store
.netrwhist
*~
*.swp
/.vim/tmp/*

# 監視対象内

## vim
!/.gvimrc
!/.vim
!/.vimrc

## git
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.vim/tmp/.gitkeep

## hg
!/.hgrc

# etc.
!/README.md
!/bootstrap.sh

# さらに開始対象外
/.vim/bundle
/.vim/tags
/.vim/backup
